<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:rabble.communities</string>
		<string>applinks:rabble.community</string>
		<string>webcredentials:rabble.community</string>
		<string>webcredentials:chus.me</string>
		<string>applinks:chus.me</string>
		<string>webcredentials:chusme.social</string>
		<string>applinks:chusme.social</string>
		<string>webcredentials:hol.is</string>
		<string>webcredentials:holis.social</string>
		<string>applinks:hol.is</string>
		<string>applinks:holis.social</string>
	</array>
</dict>
</plist>
